<html>
  <app-league-page></app-league-page>
  <app-match-page></app-match-page>
  <a href="#matchTable">
  <button class="button" id="matchRegistryButton" onclick=""><span>Match Registry</span></button>
  </a>
  <a href="#leagueTable">
  <button class="button" id="leagueTableButton"><span>League Table</span></button>
  </a>
  <button class="button" id="simulateMatchButton" (click)="addMatch()"><span>Simulate Match</span></button>
  <a href="#top">
    <button class="button" id="backToTop"><span>Back to Top</span></button>
  </a>
</html>

